name: Run rhoai-disconnected-helper script once a day

on: 
  schedule:
    - cron:  '0 12 * * *'
  workflow_dispatch:
    inputs:
      branch_name:
        description: 'Enter branch name (rhoai-x.y) (optional)'
        required: false
        default: ''
  repository_dispatch:
jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Validate branch name format
      run: |
        rhoai_branch="${{ github.event.inputs.branch_name }}"
        
        # Validate format only if branch name is provided
        if [[ -n "$rhoai_branch" && ! "$rhoai_branch" =~ ^rhoai-[0-9]+\.[0-9]+$ ]]; then
          echo "âŒ Invalid format! Expected rhoai-x.y (e.g., rhoai-2.18) but found '$rhoai_branch'"
          exit 1
        fi

        echo "Using branch: ${rhoai_branch:-'No branch specified'}"
        echo "RHOAI_BRANCH=$rhoai_branch" >> $GITHUB_ENV
    - name: Run rhoai-disconnected-helper.sh script
      run: |
        chmod +x rhoai-disconnected-helper.sh
        chmod +x rhoai-dih.sh
        if [[ -n "$RHOAI_BRANCH" ]]; then
          ./rhoai-disconnected-helper.sh -v "$RHOAI_BRANCH"
        else
          ./rhoai-disconnected-helper.sh
        fi
      shell: bash
    - name: Pull latest changes from main branch
      run: git pull origin main
      shell: bash
    - name: Commit and push changes to main branch
      uses: actions-js/push@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: main
        message: "Update rhoai-disconnected-helper.sh script"
        repository: red-hat-data-services/rhoai-disconnected-install-helper
