name: Run rhoai-disconnected-helper script once a day

on: 
  schedule:
    - cron:  '0 12 * * *'
  workflow_dispatch:
    inputs:
      branch_name:
        description: 'Enter branch name (rhoai-x.y) (optional)'
        required: false


jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Validate branch name format
      run: |     
        rhoai_branch="${{ github.event.inputs.branch_name }}"
        if [[ -z "$rhoai_branch" ]]; then
          echo "⚠️ No branch name provided. Skipping validation..."
        else
          # Check if branch name follows "rhoai-<number>.<number>" format
          if [[ "$rhoai_branch" =~ ^rhoai-[0-9]+\.[0-9]+$ ]]; then
            echo "✅ Valid format: $rhoai_branch"
          else
            echo "❌ Invalid format! Expected rhoai-x.y (e.g., rhoai-2.18) but found $rhoai_branch"
            exit 1
          fi
        fi
        shell: bash
    - name: Run rhoai-disconnected-helper.sh script
      run: |
        chmod +x rhoai-disconnected-helper.sh
        chmod +x rhoai-dih.sh
        ./rhoai-disconnected-helper.sh "${{ github.event.inputs.branch_name }}"
      shell: bash
    - name: Pull latest changes from main branch
      run: git pull origin main
      shell: bash
    - name: Commit and push changes to main branch
      uses: actions-js/push@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: main
        message: "Update rhoai-disconnected-helper.sh script"
        repository: red-hat-data-services/rhoai-disconnected-install-helper
